<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type = "text/css" href="css/Chat.css">
  <link rel="shortcut icon" href="img/favicon-16x16.png">
</head>
<body>
  <div id="wrap">
    <header>
      <div class = "select_menu">
        <a href="/friendlist" style = "color: rgb(255,255,255,.6)">친구</a>
        <a href="/chatlist" style = "color: #ffffff">대화</a>
        <a href="/logout" class = "logout">로그아웃</a>
      </div>
    </header>
    <div id="contents">
      <div>
        <span class = "searchico"><img src="img/searchico.png"></span>
        <input type = "text" id = "keyword" placeholder="이름검색"/>
      </div>
      <table id = "Clt">
          <%
          list.forEach(data => {
              let name;
              let id;
              if(data.name != user.name)
                  name = data.name;
              else
                  name = data.fname;

              if(data.id != user.id)
                  id = data.id;
              else
                  id = data.fid;
          %>
        <tr class = "move" data-id = "<%=id%>" data-name = "<%=name%>">
          <td><img src="img/profile.png" alt="프로필"></td>
          <td><%=name%></td>
          <td><div><%=data.msg%></div></td>
        </tr>
        <%
        });
        %>
      </table>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io();
    let user = "<%=user.id%>";
    $('.move').dblclick(function() {
        let fname = $(this).attr("data-name");
        let fid = $(this).attr("data-id");
      location.href = `/chatting?fname=${fname}&fid=${fid}`;
    });
    socket.on('alert message',(data) => {
        if(user == data.users.fuser){

        }
    });

    $('#keyword').keyup(function() {
      var keyword = $(this).val();
      $('.move').hide();
      var temp = $(".move > td:nth-child(2):contains('"+keyword+"')");

      $(temp).parent().show();
    });

    $('.move').click(function() {
      let fname = $(this).attr("data-name");
      let fid = $(this).attr("data-id");
      var tr = $(this);

      $('.move').removeClass("active");
      tr.addClass("active");

    //행을 클릭한 후 엔터키 입력 시 그 클릭한 행(사람)과의 1:1 채팅 페이지가 뜸.
    $('html').keydown(function(key) {
      if(key.keyCode == 13) {
        location.href = `/chatting?fname=${fname}&fid=${fid}`;
        }
      });
    });

  </script>
</body>
</html>
